<div class="edit">


<%= form_for @user do |f|%>
    <label>Name:</label><br>
   <div class="first"> <%=f.text_field :name%></div><br>
    <label>Age:</label><br>
    <%=f.select :age, (18..60), :prompt => 'Choose Age' %><br>
    <label>Preffered Prefix:</label><br>
    <%= f.select :prefix, [ 'female', 'male', 'other'], :prompt => 'Select One' %><br>
    <label>Location:</label><br>
    <%=f.text_field :location%><br>
    <label>Bio:</label><br>
    
   <textarea id="w3mission" rows="4" cols="50"><%=f.text_field :bio%> </textarea><br>
    
    <%=f.submit "Submit" %>
<% end %>

</div>