

<h1><%= @user.name %> </h1>



<h3>Age: <%= @user.age %> </h3>
</br>
<h3>Prefix: <%= @user.prefix %> </h3>
</br>
<h3>Location: <%= @user.location %> </h3>
</br>
<h4>Bio: <%= @user.bio %></h4>
</br>

<div> <%= link_to "Back to the Home Page 👈", users_path %> </div>

<div> <%= link_to "Edit This Account 👈", edit_user_path %> </div>


<div> <%= link_to "Delete this profile 👈", user_path(@user), :method => :delete %> </div>
